@use '../common/styles/mixin' as *;

.checkWrapper {
  display: flex;
  align-items: center;
  gap: var(--uil-s);

  .check {
    position: relative;
    display: block;
    min-height: var(--uil-l);
    min-width: var(--uil-l);
    border: 2px solid var(--uil-grey-dark);
    box-sizing: border-box;
    cursor: pointer;

    &:hover, &:focus-within, &:has(input:checked) {
      border-color: var(--uil-black);
    }

    &:focus-within {
      outline: 2px solid var(--uil-outline-focus)
    }
    
    &.box {
      border-radius: 2px;
    }

    &:has(input:disabled) {
      border-color: var(--uil-grey-dark);
      cursor: default;
    }

    input {
      position: absolute;
      cursor: pointer;
      height: 0;
      width: 0;
      opacity: 0;

      &:checked {
        ~ .checkmark {
          transform: scale(1);
        }
      }

      &:disabled {
        ~ .checkmark {
          background-color: var(--uil-grey-alt);
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 25%;
      left: 25%;
      background-color: var(--uil-outline-focus);
      width: var(--uil-xs);
      height: var(--uil-xs);
      transform: scale(0);
      transition: .1s ease;
    }
  }
}