@use '../common/styles/mixin' as *;

.inputField {
  .inputWrapper {
    position: relative;
    display: block;
    
    &.basic {
      .input {
        border-bottom: 1px solid var(--uil-grey-alt);
        padding-left: 0;
      }
      
      .label {
        left: 0;
      }

      .fieldset {
        border-bottom: 1px solid var(--uil-black);
      }
    }
    
    &.outlined {
      .input {
        border: 1px solid var(--uil-grey-alt);
        border-radius: 5px;
      }
      
      .fieldset {
        border: 1px solid var(--uil-black);
        border-radius: 5px;
      }
    }
    
    .fieldset {
      border-radius: 0;
      padding: var(--uil-s);
      margin: 0;
      position: absolute;
      top: -.8125rem;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      visibility: hidden;
      border: none;

      .legend {
        visibility: hidden;
        padding: 0 2px;
      }
    }

    .label {
      position: absolute;
      top: 20%;
      left: var(--uil-m);
      cursor: text;
      color: var(--uil-black);
      opacity: .6;
      transition: top .25s ease-in-out;
    }

    .labelText {
      font-size: 1.25rem;
      line-height: 1.25rem;
      transition: font-size 0.3s ease, line-height 0.3s ease;
    }

    .input {
      box-sizing: border-box;
      width: 100%;
      color: var(--uil-black);
      background-color: transparent;
      border-radius: 0;
      padding: var(--uil-xs);
      padding-left: .875rem;
      border: none;
      
      &:hover {
        border-color: var(--uil-black);
      }

      &:focus, &:not(:placeholder-shown) {
        outline: none;
        border-color: transparent;
      }

      &:disabled {
        cursor: not-allowed;
        border: 2px solid var(--uil-outline-disabled);
        background-color: var(--uil-grey);
        color: var(--uil-grey-dark);

        & ~ .label {
          cursor: not-allowed;
          color: var(--uil-grey-dark);
        }

        & ~ .icon {
          cursor: not-allowed;
          fill: var(--uil-grey-dark);
        }
      }
      
      &.iconInput {
        padding-right: 2.25rem;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: var(--uil-xs);
      transform: translate(0%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: .5;
      border: none;
      width: var(--uil-xl);
      height: var(--uil-xl);
      z-index: 5;
    }

    .input:focus ~ .label, .input:not(:placeholder-shown) ~ .label {
      top: -40%;
      opacity: 1;
      color: var(--uil-outline-focus);

      .labelText {
        font-size: .75rem;
        line-height: .75rem;
      }
    }

    .input:focus ~ .icon, .input:not(:placeholder-shown) ~ .icon {
      opacity: 1;
    }

    .input:focus ~ .fieldset, .input:not(:placeholder-shown) ~ .fieldset {
      visibility: visible;
      border-color: var(--uil-outline-focus);
      border-width: 2px;

      .labelText {
        font-size: .75rem;
        line-height: .75rem;
      }
    }
  }

  .helper {
    font-size: var(--uil-m);
    line-height: var(--uil-m);
  }
}