.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .footerLink {
    display: flex;
    gap: 1rem;
    align-items: center;

    .icon {
      height: 1rem;
    }
  }

  .copyright {
    font-size: .75rem;
    line-height: 1rem;
  }
}

.notFound {
  h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }
}

.showcaseWrapper {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;

  .showcaseCol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}