version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[dependabot][npm] "
    labels:
      - "dependencies"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "[dependabot][github-actions] "
    labels:
      - "dependencies"
