@use 'variables';

.fit {
  min-height: fit-content;
  min-width: fit-content;

  height: fit-content;
  width: fit-content;
}

.fontSmall {
  font-size: var(--uil-m);
  line-height: var(--uil-xl);
}

.fontMedium {
  font-size: var(--uil-l);
  line-height: var(--uil-xxl);
}

.fontLarge {
  font-size: var(--uil-xxl);
  line-height: 2.25rem;
}

.dark {
  --uil-black-w: #ffffff;
  --uil-black-alt: #c3c3c3;
  --uil-black-lighter: #dddddd;
  
  --uil-grey: #616161;
  --uil-grey-dark: #a3a3a3;
  --uil-grey-alt: #5c5c5c;
  
  --uil-white-alt: #3a3a3a;
  --uil-white-b: #000000;

  --uil-info: #7bb4ff;
  --uil-info-hover: 123, 180, 255;

  --uil-success: #00cc96;
  --uil-success-hover: 0, 204, 150;

  --uil-warning: #FFFF3E;
  --uil-warning-alt: #dcdc38;
  --uil-warning-hover: 255, 255, 30;
  
  --uil-error: #fb0b41;
  --uil-error-hover: 239, 34, 79;

  --uil-info-o: rgba(123, 180, 255, .3);
  --uil-success-o: rgba(0, 204, 150, .3);
  --uil-warning-o: rgba(255, 255, 62, .3);
  --uil-error-o: rgba(251, 11, 65, .3);
  
  --uil-box-shadow-w: rgba(150, 150, 150, 0.3);
  --uil-switch-hover-w: rgba(255, 255, 255, .1);
}