@use 'variables';

.fit {
  min-height: fit-content;
  min-width: fit-content;

  height: fit-content;
  width: fit-content;
}

.fontSmall {
  font-size: var(--uil-m);
  line-height: var(--uil-m);
}

.fontMedium {
  font-size: var(--uil-l);
  line-height: var(--uil-l);
}

.fontLarge {
  font-size: var(--uil-xxl);
  line-height: var(--uil-xxl);
}

.dark {
  --uil-black-w: #ffffff;
  --uil-outline-focus: #7bb4ff;
  --uil-grey-dark: #a3a3a3;
  --uil-grey-alt: #5c5c5c;
  --uil-white-alt: #3a3a3a;

  --uil-default-hover: 50, 121, 202;
  --uil-black-alt: #c3c3c3;

  --uil-success: #00cc96;
  --uil-success-hover: 0, 163, 115;

  --uil-warning: #FFFF3E;
  --uil-warning-alt: #dcdc38;
  --uil-warning-hover: 255, 255, 30;
  
  --uil-error: #fb0b41;
  --uil-error-hover: 239, 34, 79;
  
  --uil-custom-hover: 255, 255, 255;
}