:root {
  --uil-black: #000000;
  --uil-black-w: #000000;
  --uil-black-alt: #222222;
  --uil-black-light: #2b2b2b;
  --uil-black-lighter: #333333;
  
  --uil-hover-black: rgba(0, 0, 0, .1);
  --uil-box-shadow-w: rgba(0, 0, 0, .3);

  --uil-white: #ffffff;
  --uil-white-b: #ffffff;
  --uil-white-alt: #ffffff;

  --uil-grey: #f3f3f3;
  --uil-grey-alt: #cfcfcf;
  --uil-grey-dark: #878787;
  
  --uil-outline-focus: #2779ca;
  
  --uil-default-hover: 39, 121, 202;
  --uil-success-hover: 0, 156, 115;
  --uil-warning-hover: 255, 215, 0;
  --uil-error-hover: 207, 9, 52;
  --uil-custom-hover: 0, 0, 0;

  --uil-success: #009c73;
  --uil-error: #CF0934;
  --uil-warning: #FFD700;
  --uil-warning-alt: #d1b21a;
  
  --uil-top: initial;
  --uil-bottom: initial;
  --uil-left: initial;
  --uil-right: initial;

  --uil-xxxs: .125rem;
  --uil-xxs: .25rem;
  --uil-xs: .5rem;
  --uil-s: .75rem;
  --uil-m: 1rem;
  --uil-l: 1.25rem;
  --uil-xl: 1.5rem;
  --uil-xxl: 1.75rem;
  --uil-xxxl: 2rem;
}
