:root {
  --uil-black: #000000;
  --uil-black-w: #000000;
  --uil-black-alt: #222222;
  --uil-black-light: #2b2b2b;
  --uil-black-lighter: #333333;
  
  --uil-box-shadow-w: rgba(0, 0, 0, .3);
  --uil-switch-hover-w: rgba(0, 0, 0, .05);

  --uil-white: #ffffff;
  --uil-white-b: #ffffff;
  --uil-white-alt: #ffffff;

  --uil-grey-light: #f3f3f3;
  --uil-grey: #e9e9e9;
  --uil-grey-alt: #cfcfcf;
  --uil-grey-dark: #757575;
  
  --uil-info-hover: 39, 121, 202;
  --uil-success-hover: 0, 156, 115;
  --uil-warning-hover: 255, 215, 0;
  --uil-error-hover: 207, 9, 52;

  --uil-info: #2876CD;
  --uil-success: #00875A;
  --uil-warning: #FFD700;
  --uil-warning-alt: #84722A;
  --uil-error: #CF0934;

  --uil-info-o: rgba(39, 121, 202, .3);
  --uil-success-o: rgba(0, 156, 115, .3);
  --uil-warning-o: rgba(255, 215, 0, .3);
  --uil-error-o: rgba(207, 9, 52, .3);
  
  --uil-top: initial;
  --uil-bottom: initial;
  --uil-left: initial;
  --uil-right: initial;
  
  --uil-progress-delay: 250ms;
  --uil-pulse-anim: 2.5s;

  --uil-xxxs: .125rem;
  --uil-xxs: .25rem;
  --uil-xs: .5rem;
  --uil-s: .75rem;
  --uil-m: 1rem;
  --uil-l: 1.25rem;
  --uil-xl: 1.5rem;
  --uil-xxl: 1.75rem;
  --uil-xxxl: 2rem;
}
