@use '../global' as *;

.uil-button {
  font-size: var(--uil-font-base);
  line-height: var(--uil-font-base);
  background-color: var(--uil-white);
  color: var(--uil-black);
  border: 1px solid var(--uil-black);
  border-radius: 2px;
  letter-spacing: 1px;
  width: fit-content;
  cursor: pointer;
  padding: var(--uil-xs) var(--uil-s);
  -webkit-box-shadow: 0 0 3px 0 var(--uil-black-alt);
  box-shadow: 0 0 3px 0 var(--uil-black-alt);

  &.uil-disabled {
    background-color: var(--uil-grey-dark);
    color: var(--uil-grey);
    border: transparent;
  }
}