@use '../common/styles/mixin' as *;

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;

  &.highlight {
    li:last-child {
      font-weight: bold;
    }
  }
  
  li {
    cursor: default;
    color: var(--uil-grey-dark);
    display: flex;
    align-items: center;
  }

  .li:last-child, .li:hover {
    color: var(--uil-black-w);
  }
  
  .hiddenEntries {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    
    svg {
      cursor: pointer;
      fill: var(--uil-grey-dark);
      height: var(--uil-xl);
      width: var(--uil-xl);

      &:hover {
        fill: var(--uil-black-w);
      }
    }
  }
}