@use '../common/styles/mixin' as *;

.skeleton {
  background-color: var(--uil-grey-alt);
  height: var(--uil-m);
  width: 100%;
  
  &.animation {
    animation: ease-in-out var(--uil-pulse-anim) infinite pulse;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    
    50% {
      opacity: .45;
    }
    
    100% {
      opacity: 1;
    }
  }
}