@use '../variables' as *;

.uil-radio-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--uil-m);

  .uil-radio-option {
    display: flex;
    align-items: center;
    gap: .25rem;

    .uil-radio-text {
      cursor: pointer;
      color: var(--uil-black);

      &~input:disabled {
        cursor: not-allowed;
      }

      &.uil-dark {
        color: var(--uil-white);
      }
    }

    .uil-radio {
      border-radius: 50%;

      .uil-radio-check {
        border-radius: 50%;
      }
    }
  }
}