.popup {
  position: fixed;
  z-index: 2147483647;
  border-radius: 5px;
  box-shadow: 0 0 10px -3px var(--uil-black-w);
  top: var(--uil-top);
  bottom: var(--uil-bottom);
  left: var(--uil-left);
  right: var(--uil-right);

  &.content {
    padding: .5rem;
    color: var(--uil-white-alt);
    background-color: var(--uil-black-lighter);
  }
  
  &.top {
    --uil-top: var(--uil-xxxl);
  }
  
  &.bottom {
    --uil-bottom: var(--uil-xxxl);
  }

  &.centerX {
    left: 50%;
    transform: translateX(-50%);
  }

  &.centerY {
    top: 50%;
    transform: translateY(-50%);
  }
  
  &.centerXY {
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }
  
  &.left {
    --uil-left: var(--uil-xxxl);
  }
  
  &.right {
    --uil-right: var(--uil-xxxl);
  }
}