.selectWrapper {
  position: relative;
  width: 100%;
  min-width: 10rem;

  .trigger {
    padding: var(--uil-xs);
    font-size:  var(--uil-l);
    line-height:  var(--uil-xl);
    border: 1px solid var(--uil-grey-dark);
    background-color: var(--uil-white-alt);
    border-radius: var(--uil-xs);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--uil-s);
    color: var(--uil-black-w);
    cursor: pointer;
    white-space: nowrap;
    
    &:hover, &:focus {
      border-color: var(--uil-black-alt);
    }

    &.disabled {
      cursor: default;
      color: var(--uil-grey-dark);
      background-color: var(--uil-grey-light-alt);
      border-color: var(--uil-grey-dark);

      .chevron {
        fill: var(--uil-grey-dark);
      }
    }
    
    .displayText {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .chevron {
      width: var(--uil-m);
      height: var(--uil-m);
      fill: var(--uil-black-w);
      flex-shrink: 0;
    }
  }

  .optionsList {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--uil-white-alt);
    width: 100%;
    border: 1px solid var(--uil-black-alt);
    border-radius: var(--uil-xs);
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.1s ease;
    z-index: 999;
    overflow: hidden;

    &.top {
      bottom: 100%;
      margin-bottom: var(--uil-xxs);
      transform: translateY(0.5rem);
    }

    &.bottom {
      top: 100%;
      margin-top: var(--uil-xxs);
      transform: translateY(-0.5rem);
    }

    &.top, &.bottom {
      &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        box-shadow: 0 var(--uil-xs) var(--uil-m) rgba(0,0,0,0.15);
      }
    }

    .scrollArea {
      max-height: 200px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 12px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .group {
      color: var(--uil-black-alt);
      font-size: .875rem;
      margin-bottom: var(--uil-xxs);
      margin-top: var(--uil-xxs);
      text-decoration: underline;
      padding: var(--uil-xs);
    }

    .option {
      cursor: pointer;
      color: var(--uil-black-w);
      padding: var(--uil-xs);
      
      --uil-is-active: var(--uil-grey-light-alt);
      --uil-is-selected: rgba(123, 180, 255, 0.2);
      
      &:last-of-type {
        border-bottom-left-radius: var(--uil-xs);
        border-bottom-right-radius: var(--uil-xs);
      }

      &:first-of-type {
        border-top-left-radius: var(--uil-xs);
        border-top-right-radius: var(--uil-xs);
      }

      &.active {
        background-color: var(--uil-is-active);
      }
      
      &.selected {
        background-color: var(--uil-is-selected);
      }

      &.disabled {
        color: var(--uil-grey-dark);
        cursor: default;
      }
    }
  }
}