@use '../common/styles/mixin' as *;

.button {
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  
  &.filled {
    box-shadow: 0 0 2px 0 var(--uil-black-alt);
  }

  &.info {
    --uil-button-font-color: var(--uil-white-b);
    --uil-button-color: var(--uil-info);
    --uil-button-hover-color: var(--uil-info-hover);
  }

  &.success {
    --uil-button-font-color: var(--uil-white-b);
    --uil-button-color: var(--uil-success);
    --uil-button-hover-color: var(--uil-success-hover);
  }

  &.warning {
    --uil-button-font-color: var(--uil-black-light);
    --uil-button-color: var(--uil-warning);
    --uil-button-hover-color: var(--uil-warning-hover);
    
    &.outlined, &.text {
      --uil-button-color: var(--uil-warning-alt);
    }
  }

  &.error {
    --uil-button-font-color: var(--uil-white-b);
    --uil-button-color: var(--uil-error);
    --uil-button-hover-color: var(--uil-error-hover);
  }
  
  &:not(:disabled).filled {
    color: var(--uil-button-font-color);
    background-color: var(--uil-button-color);

    &:hover {
      background-color: rgba(var(--uil-button-hover-color), .8);
    }
  }

  &:not(:disabled).outlined {
    color: var(--uil-button-color);
    border-color: var(--uil-button-color);

    &:hover {
      background-color: rgba(var(--uil-button-hover-color), .08);
    }
  }

  &:not(:disabled).text {
    color: var(--uil-button-color);

    &:hover {
      background-color: rgba(var(--uil-button-hover-color), .08);
    }
  }

  &.disabled {
    cursor: default;
    color: var(--uil-grey-dark);

    &.filled {
      background-color: var(--uil-grey-light);
    }

    &.outlined {
      border-color: var(--uil-grey-dark);
    }
  }

  &.small {
    letter-spacing: 1px;
    padding: var(--uil-xxs) var(--uil-xs);

    &.rounded {
      border-radius: var(--uil-m);
    }
  }

  &.medium {
    letter-spacing: 2px;
    padding: var(--uil-xs) var(--uil-s);

    &.rounded {
      border-radius: var(--uil-xl);
    }
  }

  &.large {
    letter-spacing: 2px;
    padding: var(--uil-xs) var(--uil-s);

    &.rounded {
      border-radius: var(--uil-xxl);
    }
  }
}