@use '../common/styles/mixin' as *;

.button {
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  
  &.filled {
    box-shadow: 0 0 2px 0 var(--uil-black-alt);
  }

  &:not(:disabled).info {
    &.filled {
      color: var(--uil-white);
      background-color: var(--uil-info);

      &:hover {
        background-color: rgba(var(--uil-info-hover), .8);
      }
    }

    &.outlined {
      color: var(--uil-info);
      border-color: var(--uil-info);

      &:not(:disabled):hover {
        background-color: rgba(var(--uil-info-hover), .08);
      }
    }

    &.text {
      color: var(--uil-info);

      &:not(:disabled):hover {
        background-color: rgba(var(--uil-info-hover), .08);
      }
    }
  }

  &:not(:disabled).success {
    &.filled {
      color: var(--uil-white);
      background-color: var(--uil-success);

      &:hover {
        background-color: rgba(var(--uil-success-hover), .8);
      }
    }

    &.outlined {
      color: var(--uil-success);
      border-color: var(--uil-success);

      &:hover {
        background-color: rgba(var(--uil-success-hover), .08);
      }
    }

    &.text {
      color: var(--uil-success);

      &:hover {
        background-color: rgba(var(--uil-success-hover), .08);
      }
    }
  }

  &:not(:disabled).warning {
    &.filled {
      color: var(--uil-black-light);
      background-color: var(--uil-warning);

      &:hover {
        background-color: rgba(var(--uil-warning-hover), .8);
      }
    }

    &.outlined {
      color: var(--uil-warning-alt);
      border-color: var(--uil-warning);

      &:hover {
        background-color: rgba(var(--uil-warning-hover), .08);
      }
    }

    &.text {
      color: var(--uil-warning-alt);

      &:hover {
        background-color: rgba(var(--uil-warning-hover), .08);
      }
    }
  }

  &:not(:disabled).error {
    &.filled {
      color: var(--uil-white);
      background-color: var(--uil-error);

      &:hover {
        background-color: rgba(var(--uil-error-hover), .8);
      }
    }

    &.outlined {
      color: var(--uil-error);
      border-color: var(--uil-error);

      &:hover {
        background-color: rgba(var(--uil-error-hover), .08);
      }
    }

    &.text {
      color: var(--uil-error);

      &:hover {
        background-color: rgba(var(--uil-error-hover), .08);
      }
    }
  }

  &:not(:disabled).custom {
     &.filled:hover, &.outlined:hover, &.text:hover {
       opacity: .85;
       background-color: var(--uil-custom-hover);
     }
  }

  &.disabled {
    cursor: default;
    color: var(--uil-grey-dark);

    &.filled {
      background-color: var(--uil-grey);
    }

    &.outlined {
      border-color: var(--uil-grey-dark);
    }
  }

  &.small {
    letter-spacing: 1px;
    padding: var(--uil-xxs) var(--uil-xs);

    &.rounded {
      border-radius: var(--uil-m);
    }
  }

  &.medium {
    letter-spacing: 2px;
    padding: var(--uil-xs) var(--uil-s);

    &.rounded {
      border-radius: var(--uil-xl);
    }
  }

  &.large {
    letter-spacing: 2px;
    padding: var(--uil-xs) var(--uil-s);

    &.rounded {
      border-radius: var(--uil-xxl);
    }
  }
}