@use '../common/styles/mixin' as *;

.notification {
  display: flex;
  align-items: center;
  padding: .5rem;
  border-radius: 5px;
  
  &.filled {
    color: var(--uil-white);
    
    &.info {
      background-color: var(--uil-outline-focus);
    }

    &.success {
      background-color: var(--uil-success);
    }

    &.warning {
      color: var(--uil-black);
      background-color: var(--uil-warning);
    }

    &.error {
      background-color: var(--uil-error);
    }
  }
  
  &.outlined {
    border-width: 1px;
    color: var(--uil-black-w);
    
    &.info {
      border-color: var(--uil-outline-focus);
    }
    
    &.success {
      border-color: var(--uil-success);
    }
    
    &.warning {
      border-color: var(--uil-warning);
    }
    
    &.error {
      border-color: var(--uil-error);
    }
  }
  
  .icon {
    margin-right: .5rem;
  }
  
  .action {
    margin-left: auto;
  }
}