@use '../common/styles/mixin' as *;

.details {
  width: 100%;
  color: var(--uil-black-w);
  background-color: var(--uil-white-alt);
  box-shadow: 0 1px 3px -1px var(--uil-grey-alt);
  border: 1px solid var(--uil-grey-alt);
  border-radius: 5px;
  
  &[open] {
    overflow-x: auto;
    
    .summary {
      &.divider {
        border-bottom: 1px solid var(--uil-grey-alt);
        box-shadow: 0 0 1px 0 var(--uil-grey-alt)
      }
      
      .chevron {
        rotate: 90deg;
      }
    }
  }

  .summary {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: var(--uil-xs);
    box-sizing: border-box;

    &::marker {
      content: none;
    }
    
    &::-webkit-details-marker {
      display: none;
    }
    
    &.start {
      .chevron {
        margin-right: var(--uil-s);
      }
    }
    
    &.end {
      flex-direction: row-reverse;
      justify-content: space-between;

      .chevron {
        margin-left: var(--uil-s);
      }
    }
    
    .chevron {
      height: var(--uil-s);
      width: var(--uil-s);
      fill: var(--uil-black-lighter);
      transition: rotate 200ms ease-in-out;
    }
  }
  
  .content {
    padding: var(--uil-xs);
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  
  .details {
    border-radius: unset;
    border-bottom: none;
    
    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid var(--uil-grey-alt);
    }
  }
}