@use '../common/styles/mixin' as *;

.dialog {
  margin: auto;
  border-radius: 6px;
  background-color: transparent;
  padding: 0;
  border: transparent;

  &::backdrop {
    background-color: rgba(0, 0, 0, .5);
  }

  &.small {
    width: 50%;

    @include uil-tablet {
      width: 25%;
    }

    @include uil-fullHD {
      width: 30%;
    }
  }

  &.medium {
    width: 75%;

    @include uil-tablet {
      width: 50%;
    }

    @include uil-fullHD {
      width: 40%;
    }
  }

  &.large {
    width: 90%;

    @include uil-tablet {
      width: 75%;
    }

    @include uil-fullHD {
      width: 50%;
    }
  }

  .surface {
    background-color: var(--uil-white-alt);
    border-radius: 6px;
    display: flow-root;
  }

  .title {
    --uil-dialog-title-background: transparent;
    --uil-dialog-title-font-color: var(--uil-black-w);

    font-weight: bold;
    padding: var(--uil-xs);
    background-color: var(--uil-dialog-title-background);
    color: var(--uil-dialog-title-font-color);

    &.info {
      --uil-dialog-title-background: var(--uil-info);
      --uil-dialog-title-font-color: var(--uil-white);
    }

    &.success {
      --uil-dialog-title-background: var(--uil-success);
      --uil-dialog-title-font-color: var(--uil-white);
    }

    &.warning {
      --uil-dialog-title-background: var(--uil-warning);
      --uil-dialog-title-font-color: var(--uil-black-light);
    }

    &.error {
      --uil-dialog-title-background: var(--uil-error);
      --uil-dialog-title-font-color: var(--uil-white);
    }
  }

  .content {
    padding: var(--uil-xs);

    &.divider {
      border-top: 1px solid var(--uil-grey-alt);
      border-bottom: 1px solid var(--uil-grey-alt);
    }
  }

  .controls {
    display: flex;
    gap: var(--uil-xxxl);
    padding: var(--uil-xs);

    &.start {
      justify-content: start;
    }

    &.end {
      justify-content: end;
    }

    &.space-between {
      justify-content: space-between;
    }
  }
}