@use '../variables' as *;

.uil-button {
  letter-spacing: 1px;
  color: var(--uil-black);
  background-color: var(--uil-white);
  border: 1px solid var(--uil-black);
  border-radius: 2px;
  cursor: pointer;
  padding: .375rem var(--uil-xxs);
  -webkit-box-shadow: 0 0 3px 0 var(--uil-black-alt);
  box-shadow: 0 0 3px 0 var(--uil-black-alt);

  @include uil-tablet {
    padding: var(--uil-xs) var(--uil-s);
  }

  &.uil-disabled {
    background-color: var(--uil-grey-dark);
    color: var(--uil-grey);
    border: transparent;
  }

  &.uil-small {
    font-size: var(--uil-font-small);
    line-height: var(--uil-font-small);
    padding: var(--uil-xxs) var(--uil-xs);
  }
}