@use '../common/styles/mixin' as *;

.button {
  border: 1px solid var(--uil-black-light);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 var(--uil-black-alt);
  box-sizing: border-box;

  &:hover {
    box-shadow: inset 0 0 0 10rem rgba(0, 0, 0, .15);
  }

  &.primary {
    color: var(--uil-white);
    border-color: var(--uil-grey-darker);

    &.success {
      background-color: var(--uil-success);
    }

    &.warning {
      color: var(--uil-black);
      background-color: var(--uil-warning);
    }

    &.error {
      background-color: var(--uil-error);
      border-color: var(--uil-black-light);
    }
  }

  &.secondary {
    color: var(--uil-black-light);
    background-color: var(--uil-white);
  }

  &.outline {
    background-color: transparent;
    box-shadow: none;

    &:hover {
      border-width: 2px;
      margin: -1px;
    }

    &.success {
      color: var(--uil-success-dark);
      border-color: var(--uil-success);
    }

    &.warning {
      color: var(--uil-warning-dark);
      border-color: var(--uil-warning);
    }

    &.error {
      color: var(--uil-error);
      border-color: var(--uil-error);
    }
  }

  &.text {
    color: var(--uil-black-alt);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  &.disabled {
    color: var(--uil-grey-darker);

    &.primary, &.secondary {
      background-color: var(--uil-grey);
      border-color: var(--uil-grey-darker);

      &:hover {
        box-shadow: 0 0 2px 0 var(--uil-black-alt);
      }
    }

    &.secondary {
      background-color: transparent;
    }

    &.outline {
      color: var(--uil-grey-darker);
      border-color: var(--uil-grey-darker);

      &:hover {
        border-width: 1px;
        margin: 0;
        box-shadow: none;
      }
    }

    &.text {

      &:hover {
        background-color: transparent;
      }
    }
  }

  &.dark {
    color: var(--uil-white);
    box-shadow: none;

    &:hover {
      box-shadow: inset 0 0 0 10rem rgba(255, 255, 255, .15);
    }

    &.primary {
      &.success {
        color: var(--uil-success-light);
        background-color: var(--uil-success-dark);
        border-color: var(--uil-success);
      }

      &.warning {
        color: var(--uil-warning-light);
        background-color: var(--uil-warning-dark);
        border-color: var(--uil-warning);
      }

      &.error {
        color: var(--uil-error-light);
        background-color: var(--uil-error-dark);
        border-color: var(--uil-error);
      }
    }

    &.secondary {
      background-color: var(--uil-black-lighter);
      border-color: var(--uil-grey-dark);
    }

    &.outline {

      &:hover {
        box-shadow: none;
      }

      &.success {
        color: var(--uil-success);
        border-color: var(--uil-success);

        &:hover {
          color: var(--uil-success-light);
        }
      }

      &.warning {
        color: var(--uil-warning);
        border-color: var(--uil-warning);

        &:hover {
          color: var(--uil-warning-light);
        }
      }

      &.error {
        color: var(--uil-error);
        border-color: var(--uil-error);

        &:hover {
          color: var(--uil-error-light);
        }
      }
    }

    &.text {
      &:hover {
        box-shadow: none;
        background-color: rgba(255, 255, 255, .1);
      }
    }

    &.disabled {
      color: var(--uil-grey-dark);
      background-color: var(--uil-black-lighter);
      border-color: var(--uil-grey-dark);
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }

      &.secondary {
        background-color: var(--uil-black-light);
      }

      &.outline {
        color: var(--uil-grey-dark);
        background-color: transparent;
        border-color: var(--uil-grey-dark);

        &:hover {
          color: var(--uil-grey-dark);
          border-color: var(--uil-grey-dark);
          border-width: 1px;
          margin: 0;
          box-shadow: none;
        }
      }

      &.text {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  &.small {
    letter-spacing: 1px;
    padding: var(--uil-xxs);
  }

  &.medium {
    letter-spacing: 2px;
    padding: var(--uil-xs);
  }

  &.large {
    letter-spacing: 2px;
    padding: var(--uil-s);
  }
}