@use '../variables' as *;

.uil-button {
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid var(--uil-black-light);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 var(--uil-black-alt);
  -webkit-box-shadow: 0 0 2px 0 var(--uil-black-alt);
  box-sizing: border-box;

  &:hover {
    box-shadow: inset 0 0 0 10rem rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 0 10rem rgba(0, 0, 0, .15);
  }

  &.uil-primary {
    color: var(--uil-white);
    border-color: var(--uil-grey-darker);

    &.uil-success {
      background-color: var(--uil-success);
    }

    &.uil-warning {
      color: var(--uil-black);
      background-color: var(--uil-warning);
    }

    &.uil-error {
      background-color: var(--uil-error);
      border-color: var(--uil-black-light);
    }
  }

  &.uil-secondary {
    color: var(--uil-black-light);
    background-color: var(--uil-white);
  }

  &.uil-outline {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;

    &:hover {
      border-width: 2px;
      margin: -1px;
    }

    &.uil-success {
      color: var(--uil-success-dark);
      border-color: var(--uil-success);
    }

    &.uil-warning {
      color: var(--uil-warning-dark);
      border-color: var(--uil-warning);
    }

    &.uil-error {
      color: var(--uil-error);
      border-color: var(--uil-error);
    }
  }

  &.uil-text {
    color: var(--uil-black-alt);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  &.uil-disabled {
    color: var(--uil-grey-darker);
    cursor: not-allowed;

    &.uil-primary, &.uil-secondary {
      background-color: var(--uil-grey);
      border-color: var(--uil-grey-darker);

      &:hover {
        box-shadow: 0 0 2px 0 var(--uil-black-alt);
        -webkit-box-shadow: 0 0 2px 0 var(--uil-black-alt);
      }
    }

    &.uil-secondary {
      background-color: transparent;
    }

    &.uil-outline {
      color: var(--uil-grey-darker);
      border-color: var(--uil-grey-darker);

      &:hover {
        border-width: 1px;
        margin: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }

    &.uil-text {

      &:hover {
        background-color: transparent;
      }
    }
  }

  &.uil-dark {
    color: var(--uil-white);
    box-shadow: none;
    -webkit-box-shadow: none;

    &:hover {
      box-shadow: inset 0 0 0 10rem rgba(255, 255, 255, .15);
      -webkit-box-shadow: inset 0 0 0 10rem rgba(255, 255, 255, .15);
    }

    &.uil-primary {
      &.uil-success {
        color: var(--uil-success-light);
        background-color: var(--uil-success-dark);
        border-color: var(--uil-success);
      }

      &.uil-warning {
        color: var(--uil-warning-light);
        background-color: var(--uil-warning-dark);
        border-color: var(--uil-warning);
      }

      &.uil-error {
        color: var(--uil-error-light);
        background-color: var(--uil-error-dark);
        border-color: var(--uil-error);
      }
    }

    &.uil-secondary {
      background-color: var(--uil-black-lighter);
      border-color: var(--uil-grey-dark);
    }

    &.uil-outline {

      &:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      &.uil-success {
        color: var(--uil-success);
        border-color: var(--uil-success);

        &:hover {
          color: var(--uil-success-light);
        }
      }

      &.uil-warning {
        color: var(--uil-warning);
        border-color: var(--uil-warning);

        &:hover {
          color: var(--uil-warning-light);
        }
      }

      &.uil-error {
        color: var(--uil-error);
        border-color: var(--uil-error);

        &:hover {
          color: var(--uil-error-light);
        }
      }
    }

    &.uil-text {
      &:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: rgba(255, 255, 255, .1);
      }
    }

    &.uil-disabled {
      color: var(--uil-grey-dark);
      background-color: var(--uil-black-lighter);
      border-color: var(--uil-grey-dark);
      box-shadow: none;
      -webkit-box-shadow: none;

      &:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      &.uil-secondary {
        background-color: var(--uil-black-light);
      }

      &.uil-outline {
        color: var(--uil-grey-dark);
        background-color: transparent;
        border-color: var(--uil-grey-dark);

        &:hover {
          color: var(--uil-grey-dark);
          border-color: var(--uil-grey-dark);
          border-width: 1px;
          margin: 0;
          box-shadow: none;
          -webkit-box-shadow: none;
        }
      }

      &.uil-text {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  &.uil-small {
    font-size: var(--uil-s);
    line-height: var(--uil-s);
    padding: var(--uil-xxs);

    @include uil-tablet {
      font-size: var(--uil-font-small);
      line-height: var(--uil-font-small);
      padding: var(--uil-xs);
    }
  }

  &.uil-medium {
    font-size: var(--uil-m);
    line-height: var(--uil-m);
    letter-spacing: 2px;
    padding: var(--uil-xs);

    @include uil-tablet {
      font-size: var(--uil-font-medium);
      line-height: var(--uil-font-medium);
      padding: var(--uil-s);
    }
  }

  &.uil-large {
    font-size: var(--uil-xl);
    line-height: var(--uil-xl);
    letter-spacing: 3px;
    padding: var(--uil-s);

    @include uil-tablet {
      font-size: var(--uil-font-large);
      line-height: var(--uil-font-large);
      padding: var(--uil-m);
    }
  }
}