@use '../../common/styles/mixin' as *;

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--uil-m);

  .text {
    color: var(--uil-black-alt);

    &.dark {
      color: var(--uil-white);
    }
  }

  .radio {
    border-radius: 50%;

    .radioCheck {
      border-radius: 50%;
    }
  }
}