.fit {
  min-height: fit-content;
  min-width: fit-content;

  height: fit-content;
  width: fit-content;
}

.fontSmall {
  font-size: var(--uil-m);
  line-height: var(--uil-m);
}

.fontMedium {
  font-size: var(--uil-l);
  line-height: var(--uil-l);
}

.fontLarge {
  font-size: var(--uil-xxl);
  line-height: var(--uil-xxl);
}

.pointer {
  cursor: pointer;
}

.notAllowed {
  cursor: not-allowed;
}

.dark {
  --uil-black: #ffffff;
  --uil-outline-focus: #7bb4ff;
  --uil-grey-dark: #c4c4c4;
  --uil-grey-alt: #c3c3c3;
}