@use '../variables' as *;

.uil-check-wrapper {
  display: flex;
  align-items: center;
  gap: var(--uil-s);
  font-size: var(--uil-font-medium);
  line-height: var(--uil-font-medium);

  .uil-checkbox {
    border-radius: 2px;
  }

  .uil-check-label {
    color: var(--uil-black);
    cursor: pointer;
    user-select: none;

    &.uil-dark {
      color: var(--uil-white);
    }
  }
}