@use '../common/styles/mixin' as *;

.tag {
  display: block;
  padding: .25rem .5rem;
  border-radius: 1rem;

  &.filled {
    border: transparent;
  }

  &.outlined {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
  }
  
  &.elevated {
    box-shadow: 0 0 2px 0 var(--uil-black-alt);
  }
  
  &.info {
    &.filled {
      color: var(--uil-white);
      background-color: var(--uil-info);
    }
    
    &.outlined {
      color: var(--uil-info);
      border-color: var(--uil-info);
    }
  }

  &.success {
    &.filled {
      color: var(--uil-white);
      background-color: var(--uil-success);
    }

    &.outlined {
      color: var(--uil-success);
      border-color: 1px solid var(--uil-success);
    }
  }

  &.warning {
    &.filled {
      color: var(--uil-black);
      background-color: var(--uil-warning);
    }

    &.outlined {
      color: var(--uil-warning-alt);
      border-color: 1px solid var(--uil-warning);
    }
  }

  &.error {
    &.filled {
      color: var(--uil-white);
      background-color: var(--uil-error);
    }

    &.outlined {
      color: var(--uil-error);
      border-color: 1px solid var(--uil-error);
    }
  }
}