@use '../common/styles/mixin' as *;

.tag {
  display: flex;
  align-items: center;
  gap: var(--uil-s);
  cursor: default;
  outline: none;
  border-width: 2px;
  border-style: solid;
  
  &.clickable {
    cursor: pointer;

    &:focus, &:hover {
      opacity: .85;
    }
  }
  
  &.small {
    padding: var(--uil-xxs) var(--uil-xs);
    border-radius: var(--uil-m);
  }
  
  &.medium {
    padding: var(--uil-xs) var(--uil-s);
    border-radius: var(--uil-xl);
  }
  
  &.large {
    padding: var(--uil-xs) var(--uil-s);
    border-radius: var(--uil-xxl);
  }

  &.filled {
    border: transparent;
    color: var(--uil-tag-font-color);
    background-color: var(--uil-tag-color);
  }

  &.outlined {
    background-color: transparent;
    color: var(--uil-tag-color);
    border-color: var(--uil-tag-color);

    .delIcon {
      fill: var(--uil-tag-color);
    }
  }
  
  &.elevated {
    box-shadow: 0 0 2px 0 var(--uil-black-alt);
  }
  
  &.info {
    --uil-tag-font-color: var(--uil-white-b);
    --uil-tag-color: var(--uil-info);
  }

  &.success {
    --uil-tag-font-color: var(--uil-white-b);
    --uil-tag-color: var(--uil-success);
  }

  &.warning {
    --uil-tag-font-color: var(--uil-black-light);
    --uil-tag-color: var(--uil-warning);

    &.outlined {
      --uil-tag-color: var(--uil-warning-alt);
    }
  }

  &.error {
    --uil-tag-font-color: var(--uil-white-b);
    --uil-tag-color: var(--uil-error);
  }
  
  .delIcon {
    cursor: pointer;
    
    &.small {
      width: var(--uil-m);
      height: var(--uil-m);
    }

    &.medium {
      width: var(--uil-xl);
      height: var(--uil-xl);
    }

    &.large {
      width: var(--uil-xxl);
      height: var(--uil-xxl);
    }
  }
}