name: build-docs
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  pull_request:
    branches: [ "main" ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - labeled

jobs:
  test_build_docs:
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.labels.*.name, 'dependencies')
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build