name: linting
on:
  pull_request:
    branches: [ "main" ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
jobs:
  ESLint:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install
        run: npm ci
      - uses: int128/comment-action@v1
        with:
          run: npm run lint
          update-if-exists: append
          post-on-failure: |
            ## :x: ESLint check failed:
            ```
            ${run.output}
            ```
          post-on-success: |
            ## :heavy_check_mark: ESLint check passed
            No ESLint warnings or errors found