name: publish
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  release:
    types: [created]
    
permissions:
  id-token: write
  contents: read

jobs:
  ESLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm ci
      - name: Lint package
        run: npm run lint:library

  Test:
    name: Run component tests
    needs: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test

  publish_package:
    name: Publish npm package
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
          
      - name: Update npm
        run: npm install -g npm@latest
      - name: Install dependencies
        run: npm ci
      - name: Build package
        run: npm run build:library
      - name: Publish package to npm
        run: npm publish --access public --workspace packages/ui-library
        env:
          NPM_CONFIG_PROVENANCE: true